@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-gutter: stable;
  }
}

@layer components {
  .card {
    @apply m-4 max-w-xs 
    rounded-lg border border-solid border-gray-300 p-6
    text-left text-inherit no-underline
    transition-colors duration-150 ease-in hover:border-blue-500 hover:text-blue-500;
  }

  .card h2 {
    @apply mb-4 text-2xl;
  }

  .card p {
    @apply m-0 text-xl;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 4px black;
  }

  .text-shadow-sm {
    text-shadow: 1px 1px 2px black;
  }
}

/* Prism Syntax Highlighting */

.token {
  font-family: 'Lucida Console', Courier, monospace;
}

pre[class*='language-'] {
  @apply border border-neutral-300 bg-neutral-100 p-4 dark:border-neutral-600 dark:bg-neutral-800;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  @apply text-lime-600 dark:text-lime-600;
}

.token.punctuation {
  @apply text-gray-700 dark:text-gray-300;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  @apply text-green-600;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  @apply text-amber-600;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  @apply text-gray-700 dark:text-gray-300;
}

.token.atrule,
.token.attr-value,
.token.keyword {
  @apply text-purple-700 dark:text-purple-400;
}

.token.function,
.token.class-name {
  @apply text-yellow-600 dark:text-yellow-500;
}

.token.regex,
.token.important,
.token.variable {
  @apply text-yellow-500;
}

.code-line {
  @apply text-slate-800 dark:text-slate-200;
}

.rehype-code-title {
  @apply rounded-t-lg border border-b-0 border-neutral-300 bg-slate-200 p-3 text-sm font-bold text-gray-800 dark:border-neutral-600 dark:bg-slate-800 dark:text-gray-200;
}

.rehype-code-title + pre {
  @apply mt-0 rounded-t-none;
}
